<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac0191c8-40ce-4c02-b0c4-36c7af8c0f0a" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c549ce18-4f91-4d45-b0cf-65ddc91f9b67">mainHeaderControls</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e31b490b-4b01-4015-ab1b-5263b11aab5b">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>